html {
  height: 100%;
  width: 100%;
}

/* General styling */
body {
  background-color: #ECF2FA;
  color: #002244;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, p, img, button {
  margin-left: 5rem;
  margin-right: 5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  margin-top: 4rem;
  font-size: 2.3rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  margin-top: 1rem;
  font-size: 1.1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.25rem;
}
        
img {
  border-radius: 2rem;
}

/* Horizontally center elements */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

/* Navigation Bar */
#navbar {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 5rem;
  padding-right: 5rem;
  align-items: center;
  background-color: #303651;
}

#navbar a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.nav-item {
  position: relative;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  color: white;
}

.nav-item:hover {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: #c9def3;
}

.nav-item:focus:after,
.nav-item:hover:after {
  width: 100%;
  left: 0%;
  color: #c9def3;
}

.nav-item:after {
  content: "";
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  color: #c9def3;
  background-color: #c9def3;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

#home-title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: white;
}

/* "What is Data Justice" intro section */
#intro-section {
  margin-top: -2rem;
  color: #002244;
  background-color: #c9def3;
  box-shadow: 0 15px 10px -10px rgba(0, 34, 90, 0.9);
  border-radius: 0 0 20px 20px;
}

#title {
  text-align: left;
  padding-top: 2rem;
}

/* Button styling */
.more-btn {
  height: 30px;
  width: 125px;
  border-radius: 10px;
  background-color: #002244;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.more-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px #001f3d;
}

.more-btn:active {
  cursor: pointer;
  box-shadow: none;
}

/* Facts section bullet point styling */
.facts ul {
  margin: 2rem;
}

.facts li {
  font-size: 1.2rem;
  background-image: url(img/circle-chevron.svg);
  background-repeat: no-repeat;
  list-style: none;
  background-size: 30px;
  line-height: 25px;
  padding-left: 50px;
  padding-bottom: 20px;
}

/* Cards */
.news {
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  margin-top: 1rem;
  width: 252px;
  height: 200px;
  background: white;
  border-radius: 30px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  transition: 0.2s ease-in-out;
  color: #002244;
  text-decoration: none;
}

.news-img {
  margin: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  background: linear-gradient(#001C3B, #ABBED1);
  border-radius: 30px 30px 0 0;
}

.news-title {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}

.news-title p {
  margin: 0;
  padding-top: 5px;
  color: #999999;
  font-size: 1rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: 15px 15px 30px #A8B1CF,
             -15px -15px 30px #BECFE7;
}

/* Sizing pillar image */
#pillar-img {
  max-width: 40%;
  height: auto;
}

/* Horizontally align elements */
.side-by-side {
  display: flex;
  align-items: center;
}

/* Style section background and text */
.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: linear-gradient(293deg, #A8B1CF, #BECFE7);
  border-radius: 20px;
}

.section h2 {
  margin-top: 0;
  margin-left: 5rem;
}

/* Vertically align elements */
.column-text {
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Background section styling */
.center-align {
  padding-left: 8rem;
  align-items: center;
}

.center-align button {
  margin-top: 1rem;
}

/* Sections where image is on left */
.left-img {
  padding-left: 0;
  margin-left: 1.5rem;
  max-width: 40%;
  height: auto;
}

.left-img img{
  margin-right: 1rem;
}

/* Sections where image is on right */
.right-img .column-text {
  max-width: 40%;
  height: auto;
  margin-left: 1rem;
}

.right-img h3 {
  line-height: 2.5rem;
  margin-left: 0;
}

.right-img img {
  line-height: 2.5rem;
  margin-left: 0;
}

.right-img p {
  margin-right: 1rem;
}

.margin-top {
  margin-top: 4rem;
}

/* Reading List background */
#readings-section {
  border-radius: 20px 20px 0 0;
}

/* Footer */
footer {
  margin-top: -1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: #303651;
  color: #BECFE7;
}

footer a:link, 
footer a:visited {
  color: white;
  padding-right: 2rem;
}

.side-wrap {
  flex-wrap: wrap;
}